<!DOCTYPE html>
<head>
<title>GreenHouse Automation</title>

<link rel="stylesheet" type="text/css" href="mycss/cssmenu.css">
<link rel="stylesheet" type="text/css" href="mycss/egmenu.css">
<style>

.scrollToTop{
	width:100px; 
	height:150px;
	padding:10px; 
	text-align:center; 
	background: whiteSmoke;
	font-weight: bold;
	color: #444;
	text-decoration: none;
	position:fixed;
	bottom:5px;
	right:10px;
	display:none;
	background: url('img/top-icon.png') no-repeat 0px 60px;
}
.scrollToTop:hover{
	text-decoration:none;
}

</style>


<!-- Bootstrap -->

<link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="css/background.css" rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="mycssjs/try.css" type="text/css"/>

<!-- start plugins -->

<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript">

$(document).ready(function(){
	
	//Check to see if the window is top if not then display button
	$(window).scroll(function()
          {
		if ($(this).scrollTop() > 100) {
			$('.scrollToTop').fadeIn();
		} else {
			$('.scrollToTop').fadeOut();
		}
	});
	
	//Click event to scroll to top

	$('.scrollToTop').click(function()
	{
		$('html, body').animate({scrollTop : 0},900);
		return false;
	});
	
});

</script>

<script type="text/javascript">
function openNav() {
    document.getElementById("mySidenav").style.width = "150px";
    document.getElementById("main").style.marginLeft = "150px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("main").style.marginLeft = "0";
}
</script>


</head>

<body onload="openNav()">		
	<div id="mySidenav" class="sidenav">
		<a href="Home.php">Home</a>
		<a href="addCrop.php">Add Crop</a>
		<a href="Update.php">Update/Delete</a>
		<a href="Mode.php">Change Mode</a>
		<a href="control.php">Manual Mode</a>
		<a href="#">Contact</a>
		<a href="logout.php">Logout</a>

		<br><br>
		<div class="thmname">Temperature</div>
		<div class="thmdata"><div id="tdata">30&#8451</div></div>
		<div class="thmname">Humidity</div>
		<div id="hdata" class="thmdata">30 %</div>
		<div class="thmname">Moisture</div>
		<div id="mdata" class="thmdata">72 %</div>

	</div>


<div id="main">
<h1>Greenhouse Automation</h1>
<br>
	<div id="back">
	<br><br><br>
		<div class="container" id="front">
			<div class="row vertical-center-row">
			<div class="col-lg-12">
			<div class="row ">
			<div class="col-xs-6 col-xs-offset-3" style="background:#F5F9F9;color:#6E2C00">

				<form id="addcrop" method="post" action = "/AddCrop"> 
				<div class="col-md-2"></div>      
				<h1 class="form-signin-heading"><b>Add Crop</b></h1>
					<hr>	
					<div class="control-group">
					<div class="col-md-1"></div>
					<div class="col-md-2">
					<label class="control-label">Name</lable>
					</div>	
					<div class="col-md-6">
			            	<div class="controls">
			                <div class="input-prepend">
			                <span class="add-on"><i class="icon-user"></i></span>
					<input type="text" class="form-control" id="txtcropname" name="txtcropname" placeholder="enter crop name" autofocus="" required/>
					</div>
					</div>
					</div>
					</div>
	
					<br><br>
					
					<div class="control-group">
					<div class="col-md-1"></div>
					<div class="col-md-2">
					<label class="control-label">Start</lable>
					</div>
					<div class="col-md-5">
					<input type="text" class="form-control" id="txtstart" name="txtstart" placeholder="YYYY-MM-DD" required/>
					</div>
					</div>
					<br><br>
					<div class="control-group">
					<div class="col-md-1"></div>
					<div class="col-md-2">
					<label class="control-label">End</lable>
					</div>
					<div class="col-md-5">
					<input type="text" class="form-control" id="txtend" name="txtend" placeholder="YYYY-MM-DD" required/>
					</div>
					</div>

					<br>
					<br>
					<br>
	
					<div class="control-group">
					<div class="col-md-2"></div>
					<div class="col-md-1"></div>
					<div class="col-md-2">
					<label class="control-label">Temparature</lable>
					</div>    
					<div class="col-md-1"></div>
					<div class="col-md-2">
					<label class="control-label">Humidity</lable>
					</div> 
					<div class="col-md-1"></div>
					<div class="col-md-2">
					<label class="control-label">Moisture</lable>
					</div> 
					</div>
					
					<br>
		
					<div class="control-group">
					<div class="col-md-1"></div>
					<div class="col-md-2" align="right">
					<label class="control-label">Min</lable>
					</div>
					<div class="col-md-1"></div>
					<div class="col-md-2">
					<input type="text" class="form-control" id="txtmintemp" name="txtmintemp" placeholder="" required/>
					</div>
					<div class="col-md-1">&#8451</div>
					<div class="col-md-2">
					<input type="text" class="form-control" id="txtminhumi" name="txtminhumi" placeholder="" required/>
					</div>
					<div class="col-md-1">%</div>
					<div class="col-md-2">
					<input type="text" class="form-control" id="txtminmoist" name="txtminmoist" placeholder="" required/>
					</div>
					<div class="col-md-1">%</div>
					</div>
	
					<br>

					<div class="control-group">
					<div class="col-md-1"></div>
					<div class="col-md-2" align="right">
					<label class="control-label">Max</lable>
					</div>
					<div class="col-md-1"></div>
					<div class="col-md-2">
					<input type="text" class="form-control" id="txtmaxtemp" name="txtmaxtemp" placeholder="" required/>
					</div>
					<div class="col-md-1">&#8451</div>
					<div class="col-md-2">
					<input type="text" class="form-control" id="txtmaxhumi" name="txtmaxhumi" placeholder="" required/>
					</div>
					<div class="col-md-1">%</div>
					<div class="col-md-2">
					<input type="text" class="form-control" id="txtmaxmoist" name="txtmaxmoist" placeholder="" required/>
					</div>
					<div class="col-md-1">%</div>
					</div>

					<br><br>



					<br><br>
		
					<div class="control-group">
					<div class="controls">
					<div class="input-prepend">
					<span class="add-on"><i class="icon-user"></i></span>
					<div class="col-md-12">
					<button type="submit" class="btn btn-success btn-block btn-lg" value="submit" name="btnaddcrop">Add New Crop</button>
					</div>
					</div>
					</div>
					</div>
					<br><br><br>
					</div>
					
				</form>

			</div>

			<br><br><br><br>
			</div>
			</div>
</body>

</html>
