#back
{
	background: url(../img/back1.jpg);

	background-repeat: no-repeat;
	background-position: 100% 50%;
	background-size: cover;
	opacity:0.9;
	left: 0;
	top: 0;
	width: auto;
	height: 100%;
	z-index: 1;
}

#front
{
	opacity:0.9;
}

#back1
{
	background-image: url(../img/back1.jpg);
	opacity : 0.9;
}
